@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #060425;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.TopImage {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 278px;
}

.TopImage img {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MainHeader {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: #F0502A;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.InnerHeader {
    align-self: center;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
    align-items:first baseline;
}

.MainHeader h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
}

/* Main Scrolling section */

.MainSection {
    justify-self: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    width: 70%;
    height: 1000px;
}

/* Sponsorship section. Video and become a sponsor */
.Sponsorship {
    justify-content: center;
    margin: 30px;
    margin-top: 0px;
    width:93%;
    height: 39.5%;
    display: inline-flex;
}

/* Video Wrapper */
.Video {
    border-radius: 3px;
    height: auto;
    width: 31%;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* Physical Video */
.InnerVideo {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    border: none;
}

/* Become a Sponsor Section */
.Sponsor {
    border-radius: 3px;
    background-color: #F0502A;
    width: 60%;
    height: auto;
    margin: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-items: center;
}

.SponsorTitle {
    height: 10%;
}

/* The.. Sponsor? Body? */
.SponsorBody {
    margin: 5%;
    height: 60%;
    text-align: center;
    color: #FFFFFF;
}

.SponsorButton {
    margin: 30px;
    width: 80%;
    background-color: #FC9C85;
    border-radius: 3px;
    text-align: center;
    align-content: center;
    height: 25px;
}

.SponsorButton:hover {
    cursor: pointer;
}

/* HOLLYYY. THIS IS THE FRICKEN SPONSOR BUTTON */
.SponsorButton {
    vertical-align: bottom;
}

/* The horizontal divider between vertical elements */
.Line {
    margin: 30px;
    margin-top: 0px;
    justify-self: center;
    width: 93%;
    background-color: white;
    height: 5px;
}

/* About Us Section... */
.About {
    width: 100%;
    height: 1000px;
    justify-self: center;
    justify-content: center;
}

.Purpose {
    width: 25%;
    background-color: #F0502A;
    border-radius: 3px;
    height: auto;
    align-content: center;
    justify-items: center;
    margin: 30px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    justify-content: center;
}

.PurposeTitle {
    margin: 10px;
}

.PurposeBody {
    margin: 10px;
    color: #FFFFFF;
    text-align: center;
}

.TopPurposeImage {
    vertical-align: top;
    height: auto;
    width: 50%;
}

.Map {
    border-radius: 3px;
    width: 60%;
    height: 60%;
    margin: 30px;
    margin-top: 0px;
    margin-left: 0px;
}