.AlumniTitle {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 45px;
    width: 100%;
}

.BenjaminImage {
    width: 30%;
    margin-right: 20px;
}


.AlumniSection {
    margin: 0px;
    margin-bottom: 20px;

    width: 100%;
    max-height: 39.5%;
    height: auto;

    display: inline-flex;

    align-self: center;
    justify-self: center;
    justify-content: center;
}

.AlumniBody {
    border-radius: 3px;
    background-color: #F0502A;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    justify-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlumniBodyText, .AlumniUnderBodyText {
    text-align: center;
    color: #FFFFFF;
    width: 90%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    vertical-align: middle;
    align-self: center;
}

.AlumniUnderBodyText {
    color: #000000;
    text-align: right;
    justify-items: right;
    vertical-align: middle;
}

.MichaelImage {
    width: 30%;
    float: right;
    margin-left: 20px;
}