.AlumniTitle {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 45px;
    width: 100%;
}

.AlumniSection {
    margin: 0px;
    margin-bottom: 20px;

    width: 100%;
    max-height: 39.5%;
    height: auto;

    display: inline-flex;

    align-self: center;
    justify-self: center;
    justify-content: center;
}

.AlumniBody {
    border-radius: 3px;
    background-color: #F0502A;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    justify-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlumniBodyText, .AlumniUnderBodyText {
    text-align: center;
    color: #FFFFFF;
    width: 90%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    vertical-align: middle;
    align-self: center;
}

.AlumniUnderBodyText {
    color: #000000;
    text-align: right;
    justify-items: right;
    vertical-align: middle;
}

.LeftAlumniImageContainer {
    width: 60%;
    margin-right: 20px;
}

.RightAlumniImageContainer {
    width: 60%;
    margin-left: 20px;
}

.BottomRightAlumniImageContainer {
    display: block;
}

.TopRightAlumniImageContainer {
    display: none;
}

.LeftAlumniImage {
    width: 100%;
    transition: transform 0.5s ease;
}

.RightAlumniImage {
    width: 100%;
    transition: transform 0.5s ease;
}

.LeftAlumniImage:hover .RightAlumniImage:hover{
	transform: scale(1.05);
    transition: .5s ease;
}

@media (max-width: 650px) {
    .AlumniUnderBodyText {
        margin-top: 40px;
    }
    .AlumniSection {
        display: block;
    }
    .AlumniBody {
        display: block;
    }
    .BottomRightAlumniImageContainer {
        display: none;
    }
    
    .TopRightAlumniImageContainer {
        display: block
    }
    .RightAlumniImageContainer {
        width: 100%;
        margin-left: 0px;
        background-color: #000000;
        margin-bottom: 20px;
    }
    .LeftAlumniImageContainer {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
        background-color: #000000;
    }
    .LeftAlumniImage {
        width: 50%;
        margin: auto;
        transform: translate(50%);
    }
    .RightAlumniImage {
        width: 50%;
        margin: auto;
        transform: translate(50%);
    }
    .AlumniBody {
        padding: 20px;
        padding-left: 0px;
    }
}

@media (max-width: 440px) {
    .LeftAlumniImage {
        width: 100%;
        transform: translate(0%);
    }
    .RightAlumniImage {
        width: 100%;
        transform: translate(0%);
    }
}