.SponsorSectionTitle {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 45px;
    width: 100%;
}

.SponsorSectionHeader {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 25px;
    width: 100%;
}

.SponsorSectionSilver {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.SponsorSectionSilverLeft {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.SponsorSectionSilverRight {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.SponsorSectionSilverImage {
    width: 100%;
}

.SponsorSectionSilverImage:hover {
    cursor: pointer;
}

.SponsorSectionBronze {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.SponsorSectionBronzeLeft {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.SponsorSectionBronzeRight {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px;
}

.SponsorSectionBronzeLeftImage {
    width: 100%;
}

.SponsorSectionBronzeLeftImage:hover {
    cursor: pointer;
}

.FelizModern {
    width: 50%;
}

.FelizModern:hover {
    cursor: pointer;
}

.RanchoDiaz {
    width: 50%;
    align-self: right;
    justify-self: right;
}

.RanchoDiaz:hover {
    cursor: pointer;
}

.SweetBites {
    width: 50%;
}

.SweetBites:hover {
    cursor: pointer;
}

@media (max-width: 650px) {
    .SponsorSectionSilver {
        display: contents;
    }
    .SponsorSectionBronze {
        display: contents;
    }
    .SponsorSectionSilverRight {
        margin-top: 20px;
    }
    .SponsorSectionBronzeRight {
        margin-top: 20px;
    }
}