.SponsorsSection {
    margin: 20px;
}

.SponsorSectionTitle {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 45px;
    width: 100%;
}

.SponsorSectionHeader {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 25px;
    width: 100%;
}

.SponsorSectionSilver {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.SponsorSectionSilverLeft {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.SponsorSectionSilverRight {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.SponsorSectionSilverImage {
    width: 100%;
    position: relative;
    display: block;
}

.SponsorSectionSilverImage:hover {
    cursor: pointer;
}

.SponsorSectionBronze {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.SponsorSectionBronzeLeft {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.SponsorSectionBronzeRight {
    align-self: center;

    width: 100%;
    height: auto;

    justify-self: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px;
}

.SponsorSectionBronzeLeftImage {
    width: 100%;
    position: relative;
    display: block;
}

.SponsorImageContainer, .SponsorCircleImageContainer {
    position: relative;
}

.SponsorImageContainer, .SponsorCircleImageContainer {
    position: relative;
}

.SponsorImageContainer::before, .SponsorCircleImageContainer::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #F0502A;
    transform: scale(0.5);
    transition: transform 0.05s ease-out, opacity 0.05s ease-out;
}

.SponsorImageContainer:hover::before, .SponsorCircleImageContainer:hover::before {
    opacity: 1;
    transform: scale(1);
}

.SponsorCircleImageContainer::before {
    border-radius: 50%;
    transform: scale(0);
}

.SponsorSectionBronzeLeftImage:hover {
    cursor: pointer;
}

.FelizModern {
    width: 100%;
    position: relative;
    display: block;
}

.FelizModernImageContainer {
    width: 50%;
}

.FelizModernImageContainer::before {
    transform: translateX(-50%);
    transform: scale(0);
}

.FelizModernImageContainer:hover::before {
    opacity: 1;
    transform: scale(0.93);
}

.FelizModern:hover {
    cursor: pointer;
}

.RanchoDiaz {
    width: 100%;
    align-self: right;
    justify-self: right;
    position: relative;
    display: block;
}

.RanchoDiazImageContainer {
    width: 50%;
    justify-self: right;
}

.RanchoDiazImageContainer::before {
    transform: scale(0);
}

.RanchoDiazImageContainer:hover::before {
    opacity: 1;
    transform: scale(0.93);
}

.RanchoDiaz:hover {
    cursor: pointer;
}

.SweetBites {
    width: 100%;
    position: relative;
    display: block;
}

.SweetBitesImageContainer {
    width: 50%;
}

.SweetBitesImageContainer::before {
    border-radius: 50%;
    transform: scale(0);
}

.SweetBitesImageContainer:hover::before {
    opacity: 1;
    transform: scale(0.96);
}

.SweetBites:hover {
    cursor: pointer;
}

@media (max-width: 650px) {
    .SponsorSectionSilver {
        display: contents;
    }
    .SponsorSectionBronze {
        display: contents;
    }
    .SponsorSectionSilverRight {
        margin-top: 20px;
    }
    .SponsorSectionBronzeRight {
        margin-top: 20px;
    }
}