/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles */
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    user-select: none;
    overflow-x: hidden;
    background-color: #FFFFFF;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    color: #333333;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h2, h3 {
    color: #333333;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #F0502A;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #d04020;
}

/* Header */
.Header {
    position: fixed;
    display: inline-flex;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 6%;
    background-color: #F0502A;
}

.Title {
    height: 100%;
    width: max-content;
    display: flex;
    margin-left: 38px;
    align-items: center;
}

.Title h1, .Title h3 {
    color: #FFFFFF;
}

.Title h3 {
    margin-left: 15px;
    font-size: medium;
}

.Right {
    position: fixed;
    right: 0px;
    height: 6%;
    width: 70%;
}

.Right button {
    float: right;
    width: max-content;
    min-width: 10%;
    text-align: center;
    margin-top: 1%;
    margin-right: 15px;
    height: 60%;
    background-color: #FFFFFF;
    color: #F0502A;
    border-style: none;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.Right button:hover {
    background-color: #333333;
    color: #FFFFFF;
}

.Search {
    float: right;
    width: 10%;
    margin-top: 1.25%;
    margin-right: 15px;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 200px;
}

/* Sidebar */
.Sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 6%;
    height: 100vh;
    width: 15%;
    padding-top: 1%;
    background-color: #ffffff;
    border-right: 2px solid #000000;
    transition: transform 0.3s ease;
}

.Sidebar:hover {
    transform: translateX(10px);
}

.Sidebar .current-page {
    color: #F0502A;
}

.current-page {
    color: #F0502A;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.current-page:hover {
    color: white;
    transform: scale(1.1);
}

/* Navigation Panel */
.NavigationPanel {
    margin-left: 10%;
    width: 60%;
}

.NavigationPanel button {
    padding-left: 10px;
    border-radius: 5px;
    font-size: medium;
    height: 23px;
    width: 100%;
    transition: all 0.3s ease;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    background-color: transparent;
    text-align: left;
    margin-bottom: 10px;
}

.NavigationPanel button:hover {
    cursor: pointer;
    background-color: #F0502A;
    color: white;
    transform: translateX(10px);
}

/* Return Home Button */
.ReturnHome {
    border-radius: 5px;
    height: 60px;
    width: 80%;
    transition: all 0.3s ease;
    bottom: 15px;
    margin-top: auto;
    margin-bottom: 95px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    border: 2px solid #F0502A;
    font-size: medium;
    color: #F0502A;
    justify-content: center;
    padding-top: 19px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ReturnHome:hover {
    background-color: #F0502A;
    color: white;
    cursor: pointer;
}

/* Main Section */
.MainSection {
    width: 50%;
    padding-bottom: 15px;
    height: auto;
}

.SectionHeader {
    margin-bottom: 60px;
}

/* Text Styling */
p {
    margin-bottom: 50px;
}

.SpecialParagraph {
    margin-bottom: 15px;
}

.AboveText {
    font-size: x-small;
}

.UnderText {
    padding-top: 3px;
    font-size: large;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    border: 2px solid #000;
}

th, td {
    border: 2px solid #000;
    padding: 12px;
    color: #333333;
}

th {
    background-color: #F0502A;
    color: white;
}

td {
    text-align: center;
}

.check {
    color: green;
    font-weight: bold;
}

.cross {
    color: red;
    font-weight: bold;
}

/* Navigation Buttons */
.previous-button, .next-button {
    background-color: transparent;
    border: 2px solid #F0502A;
    color: #F0502A;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 50%;
    text-align: left;
}

.next-button:hover, .previous-button:hover {
    background-color: #F0502A;
    color: white;
}

/* Language Selection Button */
.lang-button {
    background-color: transparent;
    border: 2px solid #F0502A;
    color: #F0502A;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
    transition: all 0.3s ease;
}

.lang-button:hover {
    background-color: #F0502A;
    color: white;
    transform: scale(1.05);
}

/* Content Display */
.ContentDisplay {
    border: 2px solid #F0502A;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #fff;
    color: #333333;
}

/* Image Styling */
.Image {
    width: 70%;
    height: auto;
    border: 2px solid;
    border-radius: 5px;
}