.MeetUsTitle {
    align-self: center;
    align-items: center;
    text-align: center;
    color: #F0502A;
    font-size: 45px;
    width: 100%;
}

.MeetUsIntroduction {
    border-radius: 3px;
    background-color: #F0502A;
    height: auto;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.MeetUsIntroductionText {
    background-color: #F0502A;
    width: 100%;
}