<div class="Header">
    <div class="Title">
        <h1>5103</h1>
        <h3>Documentation</h3>
    </div>
</div>

<div class="Sidebar">
    <div onclick="Redirect('/Documentation/Programming.html')" class="Page">
        <h3>Programming</h3>
    </div>
    <div class="NavigationPanel">
        <div>
            <h3 onclick="Redirect('/Documentation/Programming/Setup.html')" class="Setup">Setup</h3>
        </div>
        <div>
            <h3>Lesson 2</h3>
        </div>
        <div>
            <h3>Lesson 3</h3>
        </div>
        <div>
            <h3 class="SubPage">Lesson 3a</h3>
        </div>
        <div>
            <h3 class="SubPage">Lesson 3b</h3>
        </div>
        <div>
            <h3>Lesson 4</h3>
        </div>
        <div>
            <h3>Lesson 5</h3>
        </div>
        <div>
            <h3>Lesson 6</h3>
        </div>
    </div>
</div>